{% extends "base.html" %}

{% block main %} 

<h3> Contact us </h3>

<hr> 

<ul>
	<li>Email <a href="mailto:amstern@uchicago.edu">Alena Stern</a> </li>
	<li>Email <a href="mailto:cherdeman@uchicago.edu">Claire Herdeman</a></li>
	<li>Email <a href="mailto:enechamkin@uchicago.edu">Emma Nechamkin</a></li>
	<li>Visit our <a href="https://github.com/emmanechamkin/CAPP-Win18-Project">GitHub Repository</a> </li>
	<li>Learn more about <a href="https://capp.uchicago.edu/">University of Chicago's CAPP program</a></li>
</ul>

{% endblock %}