{% extends "base.html" %}

{% block main %} 

<h2> Contact us </h2>

<h4> Email us </h4>
<ul>
	<li><a href="mailto:amstern@uchicago.edu">Alena Stern</a> </li>
	<li><a href="mailto:cherdeman@uchicago.edu">Claire Herdeman</a></li>
	<li><a href="mailto:enechamkin@uchicago.edu">Emma Nechamkin</a></li>
</ul>

<br>

<h4> Visit our GitHub </h4>
<ul>
	<li> <a href="https://github.com/emmanechamkin/CAPP-Win18-Project">GitHub Repository</a> </li>
</ul>

<br> 

<h4> Learn about CAPP </h4>
<ul>
	<li><a href="https://capp.uchicago.edu/">University of Chicago's CAPP program</a></li>
</ul>

{% endblock %}