{% extends "base.html" %}

{% block lljs %}
		{% load leaflet_tags %}
        {% leaflet_js %}
        {% leaflet_css %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
        <style>
    .info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
    .legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
        </style>
{% endblock %}

{% block main %}
<div class="rightbar">
	<h3> Select an indicator: </h3>
   	<form method="post">
        {% csrf_token %}
        <table class="form" align="center">    
            <tr>              
                <td>{{ form.as_p }} </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
    <h3>
        <b> Explanation of indicators: </b>
    </h3>
    <ul>
        <li> <b> Percent white or black: </b> Percentage of residents that are of the given race </li> 
        <li> <b> Median home value: </b> The median home value as reported on the US Censuss; not available for 1950, 1960, and 1970 </li>
        <li><b> Percent vacant: </b> Share of the homes that are unoccupied </li>
        <li><b> Percent owner or renter occupied: </b> Share of occupied homes that are owned or rented </li>
    </ul>
</div>


<div class="map">
		<map>
            {% leaflet_map "main" callback="mainmap" %}
        </map>
        <script type="text/javascript">

            function mainmap(map, options) {
                // Pull information from context
                data = JSON.parse("{{ data|escapejs }}");
                args = JSON.parse("{{ args|escapejs }}");
                var_of_interest = args.ind.toLowerCase();

                // Constant to convert lookup variable to name for output
                const var_to_display = {  
                    "pct_white": "Percent white",  
                    "pct_black": "Percent black",  
                    "pct_own_occ": "Percent owner occupied", 
                    "pct_rent_occ": "Percent renter occupied",  
                    "median": "Median home value",  
                    "pct_vacant": "Percent vacant"  
                };

                // Define arrays for different chloropleth displays
                var standard = ["pct_white", "pct_black", "pct_own_occ", "pct_rent_occ"]
                var median = ["median"]
                var vacant = ["pct_vacant"]

                console.log(data)
                console.log(var_of_interest)
                
                // control what shows state info on hover
                var info = L.control();
                 
                info.onAdd = function (map) {
                    this._div = L.DomUtil.create('div', 'info');
                    this.update();
                    return this._div;
                };

                // Convert raw number to percentage, dollar value for display
                var representation = function (num) {
                    if (num < 0) {
                        return "No data"
                    }
                    else if (median.includes(var_of_interest)) {
                        return "$" + numeral(num).format('0,0')
                    }
                    else {
                        return numeral(num * 100).format('0.00') + '%'
                    }
                }
                 
                // Modify inset text 
                info.update = function (props) {
                    this._div.innerHTML = '<h4>Indicator of Interest</h4>' +  (props ?
                        '<b>' + "Buffer Type" + '</b><br/>' + props['holc_bound'] +
                        '<br/><b>' + var_to_display[var_of_interest] + '</b><br/>' + representation(props[var_of_interest])
                        : '<small>Hover over buffer</small>');
                };
                 
                info.addTo(map);

                // CHLOROPLETH //
                // Coloring dependent on variable of interest
                function getColor(n) {
                    if (standard.includes(var_of_interest)) {
                        return n > .8 ? '#b10026'
                               : n > .7 ? '#e31a1c'
                               : n > .6 ? '#fc4e2a'
                               : n > .5 ? '#fd8d3c'
                               : n > .4  ? '#feb24c'
                               : n > .3  ? '#fed976'
                               : n > .2  ? '#ffeda0'
                               : n > .1  ? '#ffffbe'
                               : n >= .0  ? '#fdfdd7'
                               : '#85929E';
                    }
                    else if (vacant.includes(var_of_interest)) {
                        return n > .08 ? '#b10026'
                               : n > .06 ? '#fc4e2a'
                               : n > .04  ? '#feb24c'
                               : n > .02  ? '#ffeda0'
                               : n >= .0  ? '#fdfdd7'
                               : '#85929E';
                    }
                    else {
                        return n > 160000 ? '#b10026'
                               : n > 140000 ? '#e31a1c'
                               : n > 120000 ? '#fc4e2a'
                               : n > 100000 ? '#fd8d3c'
                               : n > 80000  ? '#feb24c'
                               : n > 60000  ? '#fed976'
                               : n > 40000  ? '#ffeda0'
                               : n > 20000  ? '#ffffbe'
                               : n >= 0  ? '#fdfdd7'
                               : '#85929E';
                    }
                }

                function getBufferColor(feature) {
                    var color;
                    color = getColor(feature.properties[var_of_interest]);
                    console.log(feature.properties[var_of_interest])
                    return color;
                }

                function style(feature) {
                    return {
                        weight: 1,
                        opacity: 1,
                        color: 'black',
                        fillOpacity: 0.7,
                        fillColor: getBufferColor(feature)
                    };
                }
                
                // MOUSEOVER CONTROLS //
                function highlightFeature(e) {
                    var layer = e.target;
                 
                    layer.setStyle({
                        weight: 2,
                        color: '#333',
                        dashArray: '',
                        fillOpacity: 0.7
                    });
                 
                    if (!L.Browser.ie && !L.Browser.opera) {
                        layer.bringToFront();
                    }
                 
                    info.update(layer.feature.properties);
                }


                function resetHighlight(e) {
                    geojson.resetStyle(e.target);
                    info.update();
                }
                 
                function zoomToFeature(e) {
                    map.fitBounds(e.target.getBounds());
                }
                 
                function onEachFeature(feature, layer) {
                    layer.on({
                        mouseover: highlightFeature,
                        mouseout: resetHighlight,
                        click: zoomToFeature,
                    });
                }

                var geojson;

                geojson = L.geoJson(data, {
                    style: style,
                    onEachFeature: onEachFeature
                }).addTo(map);  

                // LEGEND CODING //
                function grade (var_of_interest) {
                    if (standard.includes(var_of_interest)){
                        return grades = [-1, 0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8];
                    }
                    else if (vacant.includes(var_of_interest)) {
                        return grades = [-1, 0, 0.02, 0.04, 0.06, 0.08];
                    }
                    else {
                        return grades = [-1, 0, 20000, 40000, 60000, 80000, 100000, 120000, 140000, 160000];
                    }                    
                }

                var legend = L.control({position: 'bottomright'});

                legend.onAdd = function (map) {
                 
                    var div = L.DomUtil.create('div', 'info legend'),
                        grades = grade(var_of_interest)
                        labels = ['<i style="background:' + getColor(grades[0]) + '"></i> ' + representation(grades[0])];

                    for (var i = 1; i < grades.length; i++) {
                        from = grades[i];
                        to = grades[i + 1];

                        labels.push(
                            '<i style="background:' + getColor(from + 0.01) + '"></i> ' +
                            representation(from) + (to ? '&ndash;' + representation(to) : '+'));
                    }

                    div.innerHTML = labels.join('<br>');
                    return div ;

                };
                 
                legend.addTo(map);

            }

        </script>
	</div>

{% endblock %}