{% extends "base.html" %}

{% block lljs %}
		{% load leaflet_tags %}
        {% leaflet_js %}
        {% leaflet_css %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
        <style>
    .info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
    .legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
        </style>
{% endblock %}

{% block main %}
<div class="rightbar">
	<h3> Select an indicator: </h3>
   	<form method="post">
        {% csrf_token %}
        <table class="form" align="center">    
            <tr>              
                <td>{{ form.as_p }} </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
    <h3>
        <b> Explanation of indicators: </b>
    </h3>
    <ul>
        <li> <b> Percent white or black: </b> Percentage of residents that are of the given race </li> 
        <li> <b> Normalized Median home value: </b> The standardized difference from the mean of median home values as reported on the US Census; not available for 1960, 1970, and 1980 </li>
        <li><b> Percent vacant: </b> Share of the homes that are unoccupied </li>
        <li><b> Percent owner or renter occupied: </b> Share of occupied homes that are owned or rented </li>
    </ul>
</div>


<div class="map">
		<map>
            {% leaflet_map "main" callback="mainmap" %}
        </map>
        <script type="text/javascript">
            // ACKNOWLDGEMENT: Code addapted from Leaflet Chloropleth Tutorial http://leafletjs.com/examples/choropleth/

            function mainmap(map, options) {
                // Pull information from context
                data = JSON.parse("{{ data|escapejs }}");
                args = JSON.parse("{{ args|escapejs }}");
                var_of_interest = args.ind.toLowerCase();

                // Constant to convert lookup variable to name for output
                const var_to_display = {  
                    "pct_white": "Percent white",  
                    "pct_black": "Percent black",  
                    "pct_own_occ": "Percent owner occupied", 
                    "pct_rent_occ": "Percent renter occupied",  
                    "norm_med": "Normalized median home value",  
                    "pct_vacant": "Percent vacant"  
                };
                // change to norm_med

                const holc_grade = {
                    "A": "green",
                    "B": "blue",
                    "C": "yellow",
                    "D": "red"
                }

                // Define arrays for different chloropleth displays
                var standard = ["pct_white", "pct_black", "pct_own_occ", "pct_rent_occ"]
                var median = ["norm_med"]
                var vacant = ["pct_vacant"]
                // change to norm_med
                
                // control what shows state info on hover
                var info = L.control();
                 
                info.onAdd = function (map) {
                    this._div = L.DomUtil.create('div', 'info');
                    this.update();
                    return this._div;
                };

                // Convert raw number to percentage, dollar value for display
                var representation = function (num) {
                    if (median.includes(var_of_interest)) {
                        if (num < -10) {
                            return "No data"
                        }
                        else {
                            return num
                        }
                    }
                    //else if (num < 0 && !(var_of_interest in median)) {
                    //    return "No data"
                    //}
                    //else if (median.includes(var_of_interest)) {
                    //    return numeral(num).format('0,0')
                    //}
                    else {
                        if (num < 0) {
                            return "No data"
                        }
                        else {
                            return numeral(num * 100).format('0.0') + '%'
                        }
                    }
                }
                 
                // Modify inset text 
                info.update = function (props) {
                    this._div.innerHTML = '<h4>Indicator of Interest</h4>' +  (props ?
                        '<b>' + "Buffer Type" + '</b><br/>' + props['holc_bound'] +
                        '<br/><b>' + var_to_display[var_of_interest] + '</b><br/>' + representation(props[var_of_interest])
                        : '<small>Hover over buffer</small>');
                };
                 
                info.addTo(map);

                // CHLOROPLETH //
                // Coloring dependent on variable of interest
                function getColor(n) {
                    if (standard.includes(var_of_interest)) {
                        return n > 0.9 ? '#4A235A'
                               : n > .8 ? '#5B2C6F'
                               : n > .7 ? '#6C3483'
                               : n > .6 ? '#7D3C98'
                               : n > .5 ? '#8E44AD'
                               : n > .4  ? '#A569BD'
                               : n > .3  ? '#BB8FCE'
                               : n > .2  ? '#D2B4DE'
                               : n > .1  ? '#E8DAEF'
                               : n >= .0  ? '#F4ECF7'
                               : '#85929E';
                    }
                    else if (vacant.includes(var_of_interest)) {
                        return n > 0.1 ? '#4A235A'
                               : n > .08 ? '#6C3483'
                               : n > .06 ? '#8E44AD'
                               : n > .04  ? '#BB8FCE'
                               : n > .02  ? '#E8DAEF'
                               : n >= .0  ? '#F4ECF7'
                               : '#85929E';
                    }
                    else {
                        return n > 7 ? '#4A235A'
                               : n > 6 ? '#5B2C6F'
                               : n > 5 ? '#6C3483'
                               : n > 4 ? '#7D3C98'
                               : n > 3 ? '#8E44AD'
                               : n > 2  ? '#A569BD'
                               : n > 1  ? '#BB8FCE'
                               : n > 0  ? '#D2B4DE'
                               : n > -1  ? '#E8DAEF'
                               : n >= -2  ? '#F4ECF7'
                               : '#85929E';
                    }
                }

                // Get color for buffer based on value of indicator of interest
                function getBufferColor(feature) {
                    var color;
                    color = getColor(feature.properties[var_of_interest]);
                    console.log(feature.properties[var_of_interest])
                    return color;
                }

                // Build feature style
                function style(feature) {
                    return {
                        weight: .5,
                        opacity: 1,
                        color: holc_grade[feature.properties.holc_grade],
                        fillOpacity: 0.7,
                        fillColor: getBufferColor(feature)
                    };
                }
                
                // MOUSEOVER CONTROLS //
                function highlightFeature(e) {
                    var layer = e.target;
                 
                    layer.setStyle({
                        weight: 2,
                        color: 'white',
                        dashArray: '',
                        fillOpacity: 0.7
                    });
                 
                    if (!L.Browser.ie && !L.Browser.opera) {
                        layer.bringToFront();
                    }
                 
                    info.update(layer.feature.properties);
                }


                function resetHighlight(e) {
                    geojson.resetStyle(e.target);
                    info.update();
                }
                 
                function zoomToFeature(e) {
                    map.fitBounds(e.target.getBounds());
                }
                 
                function onEachFeature(feature, layer) {
                    layer.on({
                        mouseover: highlightFeature,
                        mouseout: resetHighlight,
                        click: zoomToFeature,
                    });
                }

                var geojson;

                // Apply style and mouseover settings to each feature
                geojson = L.geoJson(data, {
                    style: style,
                    onEachFeature: onEachFeature
                }).addTo(map);  

                // LEGEND CODING //
                // Change grade based on variable of interest
                function grade (var_of_interest) {
                    if (standard.includes(var_of_interest)){
                        return grades = [-1, 0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9];
                    }
                    else if (vacant.includes(var_of_interest)) {
                        return grades = [-1, 0, 0.02, 0.04, 0.06, 0.08, 0.1];
                    }
                    else {
                        return grades = [-99, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7];
                    }                    
                }

                var legend = L.control({position: 'bottomright'});

                //Build legend based on grade
                legend.onAdd = function (map) {
                 
                    var div = L.DomUtil.create('div', 'info legend'),
                        grades = grade(var_of_interest)
                        // Force no data at first position in legend
                        labels = ['<i style="background:' + getColor(grades[0]) + '"></i> ' + representation(grades[0])];

                    for (var i = 1; i < grades.length; i++) {
                        from = grades[i];
                        to = grades[i + 1]; 

                        labels.push(
                            '<i style="background:' + getColor(from + 0.01) + '"></i> ' +
                            representation(from) + (to ? '&ndash;' + representation(to) : '+'));
                    }

                    div.innerHTML = labels.join('<br>');
                    return div ;

                };
                 
                legend.addTo(map);

            }

        </script>
	</div>

{% endblock %}