{% extends "base.html" %}

{% block lljs %}
		{% load leaflet_tags %}
        {% leaflet_js %}
        {% leaflet_css %}
{% endblock %}

{% block main %}
<div class="rightbar">
	<h2> View options </h2>
   	<p> Please select an indicator... intro text here </p>
    <form method="post">
    	{% csrf_token %}
    	<table class="form">
    		{{ form.as_p }}
    	</table>
    	<input type="submit" value="Submit" />
    	</form>
    <h2> Legend </h2>
</div>


<div class="map">
		<map>
            {% leaflet_map "main" callback="mainmap" %}
        </map>
        <script type="text/javascript">
            //var map = L.map('map')
            function mainmap(options){
        	}
        </script>
	</div>

{% endblock %}